@{
ViewData["Title"] = "Bingo";
ViewData["Numero"] = ViewBag.numero;
}
@model Carton
<div class="row">
  <div class="col-12 text-center">
    <h1 class="display-4">Bingo</h1>
  </div>
</div>
<div class="row">
  <div class="col-12 text-center">
    <button type="button" class="btn-primary" id="sortear"onClick="Sorteo()">Sortear numero</button>
  </div>
</div>
<div class="row">
  <div class=" col col-6">
    <table id = "carton" class="table text-xl-center col-6">
      @for (int f = 0; f < 3; f++)
                         {   
                         <tr class="row bg-info col-6">
                           @for (int c = 0; c < 9; c++)
                             {
                             <td class="col text-light">
                               @Model.Numeros[c,f]
                             </td>
                             }
                         </tr>
                         }
    </table>
  </div>
  <div class="col col-6">
    <p id="mach"></p>
    <div class="container-lg ">
      <h2>Numeros sorteados</h2>
      <p class="m-2 col-6 bg-info text-light" id="parrafo"></p>  
    </div>
  </div>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>
